[submodule "tickerCtrl/rpi-rgb-led-matrix"]
	path = tickerCtrl/rpi-rgb-led-matrix
	url = https://github.com/bclouser/rpi-rgb-led-matrix.git
[submodule "tickerCtrl/cppzmq"]
	path = tickerCtrl/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "tickerCtrl/libzmq"]
	path = tickerCtrl/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "web/webapp/public/jemoji"]
	path = web/webapp/public/jemoji
	url = https://github.com/bclouser/jemoji.git
