[submodule "tickerCtrl/rpi-rgb-led-matrix"]
	path = tickerCtrl/rpi-rgb-led-matrix
	url = https://github.com/bclouser/rpi-rgb-led-matrix.git
[submodule "tickerCtrl/cppzmq"]
	path = tickerCtrl/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "tickerCtrl/libzmq"]
	path = tickerCtrl/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "tickerCtrl/jsoncpp"]
	path = tickerCtrl/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
