extend layout

block scripts
  script(src='javascripts/ticker.js')


block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Tablesafe Ticker

        // register form
        form(method='POST' action='/ticker/update')
          div.form-group
            label(for='dailyProcessed') Money Processed Yesterday:
            input#dailyProcessed.form-control(type='number', min="1", step="any", placeholder='$0.00' name='dailyProcessed')
          div.form-group
            label(for='monthlyProcessed') Money Processed Last Month:
            input#monthlyProcessed.form-control(type='number', min="1", step="any", placeholder='$0.00' name='monthlyProcessed')
          div.form-group
            label(for='totalProcessed') Total Money Processed:
            input#totalProcessed.form-control(type='number', min="1", step="any", placeholder='$0.00' name='totalProcessed')
          div.form-group
            label(for='railsInField') Number of Rails in Field:
            input#railsInField.form-control(type='number', placeholder='0', name='railsInField')
          div.form-group
            label(for='numRestaurants') Number of Restaurants:
            input#numRestaurants.form-control(type='number', placeholder='0' name='numRestaurants')
          div.form-group
            label(for='announcement') Announcement:
            input#announcement.form-control(type='text', placeholder='0' name='announcement')
          button.btn.btn-primary(type='submit') Update

